@font-face{
  font-family: name;
  src:url('./fonts/Pokemon\ Classic.ttf');

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#343a40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.portrait:hover{
  border-radius: 25px;
  background: rgba(0,0,0,0.4);
  padding: 20px;
   width: 150px;
  height: 150px;
 margin-left: 5px;
 margin-right: 5px;
}

.portrait.chosen{
   border-radius: 25px;
   background: rgba(63, 200, 61, 0.3);
   padding: 20px;
    width: 150px;
   height: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

.portrait{
  border-radius: 25px;
  padding: 20px;
   width: 150px;
  height: 150px;
 margin-left: 5px;
 margin-right: 5px;
}

.name{
  font-family:name;
}

.box-title{
  position:absolute;
  top: 110px;
  color:white;
}

.logo{
  width:50;
  height:50;
}

.cart{
  position:relative;

}
.track-cart-items{
  height: 17px;
  width: 17px;
  text-align:center;
  line-height: 1.05;
  background-color: rgba(63, 200, 61, 0.3);
  border-radius: 50%;
  position:absolute;
  display: inline-block;
}

td{
  padding-right: 10px;
}

.type{
  position:relative;
  left:10em;
  top:2.5em;
  display:inline-block;
  background-repeat:no-repeat;
  background-image:url('./images/types.png');
  width:3.1em;
  height:1.1em;
}

.multiple-types{
  position:relative;
  left:9em;
  top:2.5em;
  display:inline-block;
  background-repeat:no-repeat;
  background-image:url('./images/types.png');
  width:3.1em;
  height:1.1em;
}

.type.fighting,.multiple-types.fighting{
  background-position:0em 0em;
}
.type.fire,.multiple-types.fire{
  background-position:0em -1.15em;
}
.type.flying,.multiple-types.flying{
  background-position:0em -2.25em;
}
.type.grass,.multiple-types.grass{
  background-position:0em -3.35em;
}
.type.normal,.multiple-types.normal{
  background-position:0em -4.45em;
}
.type.water,.multiple-types.water{
  background-position:0em -5.55em;
}
.type.bug,.multiple-types.bug{
  background-position:-3.1em 0em;
}
.type.electric,.multiple-types.electric{
  background-position:-3.1em -1.15em;
}
.type.ghost,.multiple-types.ghost{
  background-position:-3.1em -2.25em;
}
.type.ground,.multiple-types.ground{
  background-position:-3.1em -3.35em;
}
.type.poison,.multiple-types.poison{
  background-position:-3.1em -4.45em;
}
.type.rock,.multiple-types.rock{
  background-position:-3.1em -5.55em;
}
.type.dark,.multiple-types.dark{
  background-position:-6.2em 0em;
}
.type.dragon,.multiple-types.dragon{
  background-position:-6.2em -1.15em;
}
.type.fairy,.multiple-types.fairy{
  background-position:-6.2em -2.25em;
}
.type.ice,.multiple-types.ice{
  background-position:-6.2em -3.35em;
}
.type.psychic,.multiple-types.psychic{
  background-position:-6.2em -4.45em;
}
.type.steel,.multiple-types.steel{
  background-position:-6.2em -5.55em;
}

.details{
  position:relative;
  margin-left:15%;
  line-height:0em;
}
