body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.portrait:hover{
  border-radius: 25px;
  background: rgba(0,0,0,0.4);
  padding: 20px;
   width: 150px;
  height: 150px;
 margin-left: 5px;
 margin-right: 5px;
}

.portrait.chosen{
   border-radius: 25px;
   background: #73AD21;
   padding: 20px;
    width: 150px;
   height: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

.portrait{
  border-radius: 25px;
  background: rgba(255,255,255,255);
  padding: 20px;
   width: 150px;
  height: 150px;
 margin-left: 5px;
 margin-right: 5px;
}
